<header class="banner">
	<div class="container-fluid">
		{{ if .IsHome }}
			<h1 class="site-title"><a href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a></h1>
		{{ else }}
			<a class="site-title" href="{{ .Site.BaseURL }}" title="{{ .Site.Title }}">{{ .Site.Title }}</a>
		{{ end }}	
		{{ if .Site.Params.Description }}
		<p class="site-description">{{ .Site.Params.Description }}</p>
		{{ end }}
		<input type="search" class="search search-field" id="search" placeholder="Rechercher des cafés, restaurants, lieux, wifi rapide etc&hellip;" name="s">
	</div>
</header>	